#latest-carousel {
  background-color: #333333;
}

.home-carousel-section {
  background-color: #333333;
  padding: auto 0;
  display: grid;
  align-items: center;
  height: 500px;
}
.home-screen-character-image {
  width: 15rem;
  height: 20rem;
}
.home-screen-character-name {
  font-family: Goldman;
  font-size: 3rem;
  padding: 5rem 0;
  text-decoration: underline;
  color: #e1f4f3;
  width: 70%;
  margin: 0 auto;
}

#popular-and-trending,
#categories {
  position: relative;
  background-color: transparent;
  margin: 1rem 0;
}

.bg-section-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #f4f9f9, #a4ebf3);
  top: 0;
  left: 0;
  z-index: -100;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0 100%);
}
.bg-section-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #ffb4b4, #ffe8e8);
  top: 0;
  left: 0;
  z-index: -100;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.section-content {
  position: relative;
  padding: 10% 0;
}
.section-heading-box {
  width: 70%;
  margin: 0 auto;
  text-align: left;
}
.section-heading {
  font-size: 3rem;
}
.section-subheading {
  line-height: 1.5rem;
}
@media screen and (max-width: 1440px) {
  .home-screen-character-name {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1024px) {
  .home-screen-character-name {
    font-size: 2rem;
  }
  .section-heading {
    font-size: 2rem;
  }
  .section-heading-box {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .bg-section-1,
  .bg-section-2 {
    clip-path: none;
  }
  .section-heading-box {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .home-carousel-section {
    padding-top: 2rem;
  }
  .home-screen-character-image {
    width: 12rem;
    height: 16rem;
  }
  .home-screen-character-name {
    padding: 2rem 0;
  }
}
