.book {
  padding: 1rem;
}
.book-image {
  height: 10rem;
  width: 10rem;
}

.cart-title {
  font-size: larger;
}
.cart-item {
  border: 0.1rem #e3f6f5 solid;
  background-image: linear-gradient(#eff8ff, #f6ecf0);
}
.total {
  position: absolute;
  top: 90%;
  left: 80%;
  font-family: "Goldman", sans-serif;
  font-size: 2rem;
}
@media screen and (max-width: 920px) {
}
@media screen and (max-width: 424px) {
  .book-total {
    float: left !important;
  }
}
