#series-body {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.section-title {
  font-family: "Sacramento", sans-serif;
  font-size: 3rem;
}
.series-image-box,
.series-description-box {
  padding: 3rem 0rem;
}

.series-description-box {
  text-align: left;
}
.series-container {
  margin-top: 5% !important;
}

.series-image {
  height: 30rem;
  width: 20rem;
}
.series-title {
  font-family: "Bebas Neue";
}
.description-title {
  font-family: "Bebas Neue";
}
