.card-actions {
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 100%;
}

@keyframes card-animation-in {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.05, 1.05);
  }
}
.product-card:hover {
  animation-name: card-animation-in;
  animation-duration: 0.3s;
  transform: scale(1.05, 1.05);
}
@keyframes card-animation-out {
  from {
    transform: scale(1.05, 1.05);
  }
  to {
    transform: scale(1, 1);
  }
}
.product-card {
  animation-name: card-animation-out;
  animation-duration: 0.3s;
  transform: scale(1, 1);
  margin: "0 auto";
}
