.card-actions {
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 100%;
}

.hover-image-cover {
  height: 300px;
  width: 200px;
  background-color: #d14031;
  position: absolute;
  opacity: 0.9;
  display: none;
}

.hover-image-cover-text:hover {
  border-bottom: white solid 0.15rem;
}
.hover-image-cover-text {
  color: white;
  margin-top: 50%;
  font-size: small;
  font-family: monospace;
  display: inline-block;
}
.product-card:hover .hover-image-cover {
  display: block;
}

.product-image {
  width: 200px;
  height: 300px;
  margin-bottom: 5px;
}
.product-card {
  margin: "0 auto";
}
