a {
  color: #706c61;
}
a:hover {
  color: #333333;
  text-decoration: none;
}

body {
  background-color: #f7f7f7;
  color: #272343;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

button:focus {
  outline: none;
}
#footer {
  background-color: grey;
  font-size: smaller;
  height: 2rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.light-theme {
  background-color: #f5f4f4 !important;
  color: black !important;
}
.light-theme-comic-link {
  color: black !important;
}
@keyframes loading {
  from {
    rotate: (0deg);
  }
  to {
    rotate: (359deg);
  }
}
.page-loader {
  margin-top: 15%;
  animation-name: loading;
  animation-duration: 4s;
}
