#character-body {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.character-image-box,
.character-description-box {
  padding: 3rem 0rem;
}

.character-description-box {
  text-align: left;
}
.character-image {
  height: 30rem;
  width: 20rem;
}

.character-description {
  width: 70%;
  margin: 2px auto !important;
}
.character-title {
  font-family: "Bebas Neue";
}
.description-section-label {
  font-family: "Bebas Neue";
  margin: 0 auto;
}
.comics-table-section,
.series-table-section {
  height: 250px;
  overflow-y: scroll;
}
