#book-body {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.book-image-box,
.book-description-box {
  padding: 3rem 0rem;
}
.book-description-box {
  text-align: left;
}

.book-img {
  height: 30rem;
  width: 20rem;
}

.book-title {
  font-family: "Bebas Neue";
}
.description {
  width: 85%;
  margin: 0 auto;
}
.description-title {
  font-size: 2rem;
  font-family: "Bebas Neue";
}

@media screen and (max-width: 1000px) {
  .book-title {
    font-size: 2rem;
  }
  .book-description,
  .price,
  .table,
  .characters {
    font-size: 0.8rem;
  }
  .publish-date {
    margin-top: 5%;
  }
}
@media screen and (max-width: 700px) {
  .book-title {
    font-size: 1.75rem;
  }
}
