#book-body {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.book-image-box,
.book-description-box {
  border: #e3f6f5 0.1rem solid;
  padding: 3rem 0rem;
}
.book-description-box {
  align-content: center;
  background-image: linear-gradient(to right, #f6ecf0, #eff8ff);
}
.book-image-box {
  background-image: linear-gradient(to right, #eff8ff, #f6ecf0);
}

.book-img {
  height: 18rem;
  width: 12rem;
}

.book-title {
  font-family: "Goldman";
}
.description {
  width: 85%;
  margin: 0 auto;
}
.description-title {
  font-size: 2rem;
  font-family: "Sacramento";
}

@media screen and (max-width: 1000px) {
  .book-title {
    font-size: 2rem;
  }
  .book-description,
  .price,
  .table,
  .characters {
    font-size: 0.8rem;
  }
  .publish-date {
    margin-top: 5%;
  }
}
@media screen and (max-width: 700px) {
  .book-title {
    font-size: 1.75rem;
  }
}
