.search-bar {
  position: relative;
}
.search-form {
  align-items: center;
  display: flex;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2px 4px;
  width: 20rem;
}
.search-input {
  width: 90%;
  outline: none;
}
