.profile-body {
  font-family: Roboto;
  margin-top: 1.5rem;
}
.profile-image-name-box,
.profile-details-box {
  background-image: linear-gradient(#eff8ff, #f6ecf0);
}
.profile-image-name-box {
  border: 0.1rem #e3f6f5 solid;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.profile-image-box {
  margin-bottom: 2rem;
}
.profile-image {
  height: 7rem;
  width: 6rem;
}
.profile-name {
  line-height: 0.15rem;
}
.profile-details-box {
  text-align: left;
  border: 0.1rem #e3f6f5 solid;
}

.profile-email-box,
.profile-phone-box,
.profile-address-box {
  line-height: 0.15rem !important;
}

.profile-email-box,
.profile-phone-box {
  margin-bottom: 1.5rem !important;
}
.saved-items-box {
  margin-top: 2rem;
}

.saved-characters-box,
.saved-series-box {
  border: 0.1rem #e3f6f5 solid;
  background-image: linear-gradient(#eff8ff, #f6ecf0);
}
.saved-character-image,
.saved-series-image {
  width: 7rem;
  height: 7rem;
  cursor: pointer;
}
.saved-character-name,
.saved-series-title {
  font-size: 1.25rem;
  cursor: pointer;
}
